													<table>
															<tr style="">
																<td style=" width:22px; height:22px; vertical-align:top;"><img ng-src="{{BaseImageURL+comment.person_avatar}}"  class="img-circle" style="width:35px;height:35px"  alt="Generic placeholder thumbnail"></td>
																
																<td style="vertical-align:top;">

																	<span>																									
																	
																		<p class="small" style="font-size:11;padding-left:8px;"> 
																			<span style='color:#555555;font-size:12;'>
																				<B class="redbright  ">
																					{{comment.person_name}} 
																				</B>
																				<span style="font-size:12;">
																					 {{comment.content}} 
																					<!-- Nomis wilson is going back home right now Nomis wilson is going back home right now Nomis wilson is going back home right now Nomis wilson is going back home right now Nomis wilson is going back home right now -->
																				</span>
																			</span> &nbsp; 
																		</p>
																		<div style="height:0px;"></div>
																		
																		<div style="height:0px;"></div>

																		<div style="margin-top:0px; margin-left:10px;" ng-show="comment.isLikedByUser==0">
																		<span style="font-size:11; visibility :visible; font-color:grey; cursor:pointer" id="likecard{{comment.id}}" ><span  class="icon icon-like85 " likeComment userid="{{user_id}}" commentid="{{comment.id}}" newsfeedid="{{comment.parent_feed_id}}"
 
																		ng-click="likeNewComment(user_id,comment.id,comment.parent_feed_id)" ></span>
																		    <span ng-show="comment.like_number>1">&nbsp;&nbsp; {{comment.like_number}} likes
																			</span>
																			<span ng-show="comment.like_number<=1">&nbsp;&nbsp; {{comment.like_number}} like
																			</span>&nbsp;
																			<span  style="font-size:10;padding-top:50px;color:#CFCFCF;padding-left:8px;">{{comment.date_created}}
																			</span>
																		</span>
																		</div>
																							
																	    <div style="margin-top:0px; margin-left:10px;" ng-show="comment.isLikedByUser==1">
																		<span style="font-size:11; visibility :visible; font-color:grey; cursor: pointer;" id="unlikecard{{comment.id}}" ><span  class="icon icon-like85 redbright " ng-click="unlikeNewComment(user_id,comment.id,comment.parent_feed_id)" ></span>
																			<span ng-show="comment.like_number>1">&nbsp;&nbsp; {{comment.like_number}} likes
																			</span>
																			<span ng-show="comment.like_number<=1">&nbsp;&nbsp; {{comment.like_number}} like
																			</span>
																			<span  style="font-size:10;padding-top:50px;color:#CFCFCF;padding-left:8px;">{{comment.date_created}}
																			</span>
																		</span>
																		</div>
											
																		
																		

																	</span >

																		
						    
																</td>
															</tr>
															<tr>
															<td>
															<div style="height:20px;"></div>
															</td>
															</tr>
														</table>
														