		<style type="text/css">
			p.small {
			    line-height: 20px;
			}

			p.big {
			    line-height: 30px;
			}
		</style>

<div class="panel panel-default">
<div class="panel-body" >
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">								
				<table>
					<tr>
						<td style="vertical-align:top;" width="10px;">
							
							<img ng-src="{{BaseImageURL+myfeed.person_avatar}}" class="img-circle" style="width:50px;height:50px"  alt="Generic placeholder thumbnail">													
								
						</td>
						<td>														
							<span>
								

								<h6 style="padding-left:6px;">
									

									<B><a ng-href="business_page_owners_view.php?current_business_id={{myfeed.business_id}}" style="text-decoration:none;" class="black">{{myfeed.business_name}}</a></B>	

																		
												
									<span class="help-block " style="color:#CFCFCF;">{{myfeed.date_created}} </span>
								</h6>

								<div style="padding-left:8px;margin-top:0px;" ng-show="myfeed.rate>-1 && myfeed.price>-1 ">

									<span> 
											<span>
											<i ng-repeat="star in myfeed.ratings" class="ion ion-ios-star redbright"
											style="font-size:25px;"/>
											</span>

											<span style="margin-left:-4px;">
										
											<i ng-repeat="star in myfeed.noratings" class="ion ion-ios-star-outline redbright"  style="font-size:25px;" />
											</span>
											

										
									</span>
									&nbsp;&nbsp;
									<span> 

											
											<span>
											<i ng-repeat="star in myfeed.pricings" class="ion ion-social-usd " style="color:#00cc00;padding-left:8px; font-size:20px;" />
											</span>
											
											<span style="margin-left:-4px;">
											
											<i ng-repeat="usd in myfeed.nopricings" class="ion ion-social-usd-outline " style="color:#00cc00;padding-left:8px; font-size:20px;" />
											</span>
										
									</span>

								</div>

								<div style="padding-left:8px;margin-top:-8px;" ng-show="myfeed.rate==-1 && myfeed.price==-1 ">
										<!-- <span> 

											<i ng-repeat="star in [1,2,3,4,5]" class="ion ion-ios-star-outline redbright" style="font-size:25px;"/>
											
										</span>
										&nbsp;&nbsp;
										<span> 
												<i ng-repeat="usd in [1,2,3,4,5]" class="ion ion-social-usd-outline " style="color:#00cc00; padding-left:8px; font-size:20px;" />
											
										</span> -->

								</div>
								
								

								
							</span>
						</td>
						
					</tr>
					<tr>
						<td></td>
						<td colspan="" style="padding-left:8px;" >

						
						
							<h6 >
								<p style="width:350px; font-size:14px;">
									{{myfeed.content}} 
								</p>
								<br/>
								 <hr style="margin-bottom:15px;" ng-show="myfeed.myfeedComments.length>0"></hr>
								<div id="rrcommentors{{myfeed.id}}" style="margin-bottom:-15px;">
											<!--to feed comments here -->
														
													



												
								</div>

								<hr style="margin-bottom:4px; margin-top:-2px;" ng-show="!myfeed.myfeedComments.length"></hr>	
								<hr style="margin-bottom:4px;  margin-top:10px;" ng-show="myfeed.myfeedComments.length"></hr>															
								<table>
									<tr>
										<td style="width:110px;" ng-init="myfeed.likeNo=0">										
											


											<a href="javascript:void();" ng-show="myfeed.likeToggleValue==0"  style="font-size:9px; background-color:white;text-decoration:none;" id=""><span class="icon icon-like85 simplegrey  " style="font-size:16px;"  ng-click="likeNFItem(user_id,myfeed.id)" > &nbsp;<span class="simplegrey" style="font-size:12;">{{myfeed.likeNo}} </span>
											<span style="font-size:12;" class="simplegrey" ng-show="myfeed.likeNo<=1">
												Like
											</span>
											<span style="font-size:12;" class="simplegrey" ng-show="myfeed.likeNo>1">
												Likes
											</span>

											</a>

											<a href="javascript:void();" ng-show="myfeed.likeToggleValue==1"  style="font-size:9px; background-color:white;text-decoration:none;" id=""><span class="icon icon-like85 redbright  " style="font-size:16px;"  ng-click="unlikeNFItem(user_id,myfeed.id)"> &nbsp;<span class="simplegrey" style="font-size:12;">{{myfeed.likeNo}} </span>
											<span style="font-size:12;" class="simplegrey" ng-show="myfeed.likeNo<=1">
												Like
											</span>
											<span style="font-size:12;" class="simplegrey" ng-show="myfeed.likeNo>1">
												Likes
											</span>

											</a>


										</td>
										<td style="width:140px;">											
											<a class=" btn simplegrey "style="text-decoration:none;"  data-toggle="collapse" data-target="#comment">
												<span style="font-size:16px;" class="glyphicon glyphicon-comment pull-left"></span>&nbsp;&nbsp;&nbsp;{{myfeed.comment_count}}&nbsp;<span ng-if="myfeed.comment_count>1">Comments</span>
												<span ng-if="myfeed.comment_count<2">Comment</span>
											</a>										
										</td>
										<td>												
											
											<a class="simplegrey btn " style="text-decoration:none;" ng-click="shareItem('new_feed',myfeed.id)">
											<span class="icon icon-sharing6" ></span>&nbsp;Share 
											
											</a>											
										</td>
									</tr>
								</table>									
								<h6></h6>
								<div class="space"></div>
								<div id="flash" align="left"  ></div>
								<div id="show" align="left"></div>								
								<form class=" noborderStyle"  name="rrcommentForm" role="form" action="#" >
									 <div class="form-group"> 										
											<table>
												<tr>
													<td>																				
														<input ng-model="myfeed.comment_details" type="text" class="form-control form-control-no-border post_comment" rows="1" id="rrcontent{{myfeed.id}}" name="rrcontent" style="background-color:#E9EAEE;text-align:left; width:300px;height:30px; border:none; border-radius: 0px;" ng-minlength="1" ng-enter  userid="{{user_id}}" ourfeedid="{{myfeed.id}}" commentdetails="{{myfeed.comment_details}}" datecreated="{{myfeed.date_created}}" feedtype="rr" placeholder="Write a comment...">					
														
														
													</td>
													<td style="vertical-align:top;">
														<div style="width:65px;"></div>
														<input type="button" ng-disabled="rrcommentForm.rrcontent.$invalid"   style="background-color:#E9EAEE;height:30px;text-align: center;line-height: 15px; width:60px;font-weight:bold;background-color:#BD2532; color:white;border-radius:10;" class=" form-control submit pull-right post_comment" post-random-feed userid="{{user_id}}" ourfeedid="{{myfeed.id}}" commentdetails="{{myfeed.comment_details}}" datecreated="{{myfeed.date_created}}" feedtype="rr" value="Send"/>
														

													</td>
												</tr>
											</table>										
									 </div>
								</form>
								
							</h6>
						</td>
					</tr>
						
				</table>
												
			</div>
		</div>

</div>
</div>