<table style="font-size:14px;">
	<tr style="padding-bottom:100px;">
		<td width="50px"><B>Mon<B></td>
		<td width="110px">
			<select  ng-model="FullBusiness.business_claim.monday_open" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
			<option value="">select  </option>
										
			</select>
		</td>
		<td width="25px"><B> to<B> </td>
		<td>
			<select  ng-model="FullBusiness.business_claim.monday_close" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
			<option value="">select  </option>
										
			</select>
		</td>
	</tr>
	</table>
	&nbsp;
	<table style="font-size:14px;">
	<tr>
		<td width="50px"><B>Tue<B></td>
		<td width="110px">
			<select  ng-model="FullBusiness.business_claim.tuesday_open" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
			<option value="">select  </option>
										
			</select>
		</td>
		<td width="25px"> <B>to <B></td>
		<td>
			<select  ng-model="FullBusiness.business_claim.tuesday_close" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
			<option value="">select  </option>
										
			</select>
		</td>
	</tr>
	</table>
	&nbsp;
	<table style="font-size:14px;">
	<tr>
		<td width="50px"><B>Wed<B></td>
		<td width="110px">
			<select  ng-model="FullBusiness.business_claim.wednesday_open" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
			<option value="">select  </option>
										
			</select>
		</td>
		<td width="25px"><B> to <B></td>
		<td>
			<select  ng-model="FullBusiness.business_claim.wednesday_close" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
			<option value="">select  </option>
										
			</select>
		</td>
	</tr>
	</table>
	&nbsp;
	<div id="addhours" class="collapse out">
		<table style="font-size:14px;">
			<tr>
				<td width="50px"><B>Thur<B></td>
				<td width="110px">
					<select  ng-model="FullBusiness.business_claim.thursday_open" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
					<option value="">select  </option>
										
					</select>
				</td>
				<td width="25px"><B> to <B></td>
				<td>
					<select  ng-model="FullBusiness.business_claim.thursday_close" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
					<option value="">select  </option>
										
					</select>
				</td>
			</tr>
		</table>
		&nbsp;
		<table style="font-size:14px;">
			<tr>
				<td width="50px"><B>Fri<B></td>
				<td width="110px">
					<select  ng-model="FullBusiness.business_claim.friday_open" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
						<option value="">select  </option>
										
					</select>
				</td>
				<td width="25px"><B> to <B></td>
				<td>
					<select  ng-model="FullBusiness.business_claim.friday_close" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
					<option value="">select  </option>
										
					</select>
				</td>
			</tr>
		</table>
		&nbsp;
		<table style="font-size:14px;">
			<tr>
				<td width="50px"><B>Sat<B></td>
				<td width="110px">
					<select  ng-model="FullBusiness.business_claim.saturday_open" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
						<option value="">select  </option>
										
					</select>
				</td>
				<td width="25px"><B> to <B></td>
				<td>
					<select  ng-model="FullBusiness.business_claim.saturday_close" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
							<option value="">select  </option>
										
					</select>
				</td>
			</tr>
		</table>
		&nbsp;
		<table style="font-size:14px;">
			<tr>
				<td width="50px"><B>Sun<B></td>
				<td width="110px">
					<select  ng-model="FullBusiness.business_claim.sunday_open" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
								<option value="">select  </option>
										
					</select>
				</td>
				<td width="25px"><B> to <B></td>
				<td>
					<select  ng-model="FullBusiness.business_claim.sunday_close" class="form-control" style="width:100px;border-radius:0px;background-color:#EBEAEF;border:0px; height:28px;" ng-options="workinghour.value as workinghour.name for workinghour in workinghours">
					<option value="">select  </option>
										
					</select>
				</td>
			</tr>
		</table>
	</div>
	<br/>
	<a class=" btn redbright" data-toggle="collapse"style="height:30px;border-radius:4; background-color:#BD2532;color:white;" data-target="#addhours">Add Work Hours</a>
